.header {
    .nav {
        padding: 2rem;
        width: 100%;
        display: grid;
        grid-template-columns: auto max-content;
        box-sizing: border-box;
        .spacer {
            margin: auto;
        }
        .right {
            display: grid;
            grid-gap: 1.2rem;
            grid-auto-flow: column;
            span {
                cursor: pointer;
                color: rgba(55, 65, 81);
            }
        }
    }
}
